
#fullpage  {
  position: relative;
}

// first section
#first-view {
  
}
#first-view.prepare-section {
  z-index: 0;
  opacity: 0;
  transition: opacity 1s ease, z-index .1s 1s;
}

#first-view.active-section {
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease, z-index .1s 1s;
  transition-delay: 1s;
}
// second view sction animate

#second-view,
{
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
}
#second-view.prepare-section {

  & .second-view_our-team__body {
    transform: translateX(-100px);
    opacity: 0;
    transition: .8s ease;
  }
  & .second-view_counts {
    height: 0;
    overflow: hidden;
    transition: .8s ease;
  }
}

#second-view.active-section {

  transition: z-index .1s 1s;
  transition-delay:1s;

  & .second-view_our-team__body {
    transform: translateX(0px);
    opacity: 1;
    transition: .8s ease;
    transition-delay:1s;
  }

  & .second-view_counts {
    height: 100%;
    overflow: hidden;
    transition: .8s ease;
    transition-delay:1s; 
  }

}
#third-view {
  background: none;
  width: 100%;
  top: 0;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 1s;

  &.no-move {
    transform: translateY(0);
    transition: transform 1s;
  }

  &.prepare-section {

    & .third-view_wrapp {
      // transform: translateY(-100%);
      // transition: .7s;
    }
  }

  &.active-section {
    & .third-view_wrapp {
      // transform: translateY(0);
      // transition:.7s;
    }
    transform: translateY(0);
    transition: transform 1s;
  }

  //z-index: 5;
 // position: absolute;
  width: 100%;
  top: 0;
}
.fade-section {
  opacity: 0;
  transition: opacity .3s; 
}

// third view 

